*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
  display: block;
}


.container {
  background-color: #fff;
  /* border: 1px; */
  margin: 0 auto;
  width: 420px;
  height: 740px;
}

nav {
  background-color: #df4300;
  /* margin: 0 auto; */
  top: 0;
  padding: 15px;
  position: fixed;
  width: 420px;
  display: block;
}

.nav-title {
  font-size: 18px;
  color: #fff;
  padding-left: 30%;
  display: block;
}

.arrow-left {
  margin: 0 auto;
  top: 30%;
  padding-left: 1px;
  position: absolute;
}

.arrow-left h1 {
  font-size: 18px;
  color: #fff;
  padding-left: 1.5%;
  top: 2%;
  position: fixed;
}

.hamburger {
  color: #fff;
  padding-left: 88.6%;
  margin: 0 auto;
  transform: translateY(-95%);
  position: absolute;
}

.route-list {
  border: 1px;
  width: 100%;
  margin-top: 50px;
}

.line {
  position: absolute;
  /* padding: 1%; */
  margin-top: 6%;
  transform: translateY(-50%);
}

.line h1 {
  font-size: 40px;
  font-weight: bold;
  color: #df4300;
}

.content {
  width: 100%;
  padding: 2%;
  padding-left: 25%;
}

.content h1 {
  font-size: 18px;
  font-weight: bold;
}

span {
  font-style: italic;
}

.content h3, .frequency h3 {
  font-size: 13px;
  padding-top: 1%;
}

.destination {
  position: relative;
  border-bottom: 1px solid gray;
  margin: 0 auto;
  padding: 3.8% 3.8%;
  /* display: flex; */
}

.destination:hover {
  background-color: #6E6E6E;
}

.frequency {
  position: absolute;
  text-align: right;
  padding-left: 80%;
  right: 3%;
  top: 50%;
  /* margin-top: -10px; */
  transform: translateY(-50%);
  /* justify-content: flex-end; */
  /* vertical-align: top; */
}

.frequency h1 {
  font-size: 20px;
}

.frequency h3 {
  font-size: 12px;
}

.a fa-exclamation-triangle {
  color: #E00000;
}
